@import "./listContainer.css";
@import "./lists.css";
/* @import "./Tips.css"; */

body {
   font-family: var(--fonts);
   font-size: var(--fonts-size);
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   color-scheme: light dark;
   margin: 0;
   min-width: 350px;

   --fonts: system-ui, Arial, Helvetica, sans-serif;
   --fonts-size: 15px;
   --row-height: 1.9rem;
   --spacing: 0.5rem;
   --inclusive-color: forestgreen;
   --exclusive-color: crimson;

   padding: var(--spacing);
}

a {
   display: flex;
   align-items: center;
   width: 100%;

   text-decoration: none;
   /* color: var(--inclusive-color); */
}

a:hover,
button:hover,
label:hover {
   background-color: rgba(255, 255, 153, 0.5);
   outline: 3px solid orange;
}

button {
   display: inline-flex;
   align-items: center;
   /* justify-content: center; */

   border: 1px solid black;
   background-color: transparent;
   color: crimson;
}