.list {

   width: 100%;

   [type=checkbox] {
      align-self: center;
      /* display: block; */
      margin: 0 0 0 0.5rem;
      min-width: 16px;
      height: 16px;
   }

   .favicon {
      align-self: center;
      margin-left: var(--spacing);
      margin-right: var(--spacing);
   }

   a {
      border-left: 1px solid green;
      border-right: 1px solid green;
      padding-left: var(--spacing);
      padding-right: var(--spacing);
   }

   button {
      border: none;
   }

   .list_controls {
      display: flex;
      height: var(--row-height);
   }

   header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
   }

   ol {
      list-style-type: none;
      padding: 0;
      margin: 0;
      border-top: 1px solid green;
   }

   li {
      display: flex;
      height: var(--row-height);
      /* color: green; */
      border-bottom: 1px solid green;
   }

   li:last-child {
      border: none;
   }
}

.inclusive-list {
   border-top: 2px solid var(--inclusive-color);
   border-bottom: 2px solid var(--inclusive-color);

   [type=checkbox] {
      accent-color: var(--inclusive-color);
   }

   a {
      color: var(--inclusive-color);
   }
}

.exclusive-list {
   border-top: 2px solid var(--exclusive-color);
   border-bottom: 2px solid var(--exclusive-color);

   [type=checkbox] {
      accent-color: var(--exclusive-color);
   }

   a {
      color: var(--exclusive-color);
   }
}