.list_container {

   display: flex;
   flex-wrap: wrap;
   gap: var(--spacing);

   [type=search] {
      width: 100%;
      height: var(--row-height);
      /* line-height: 1.5; */
      padding-left: var(--spacing);
      padding-right: var(--spacing);
      font-family: var(--fonts);
      font-size: var(--fonts-size);
   }
}

.popover_body {
   display: grid;
   gap: var(--spacing);

   [type=checkbox] {
      min-width: 16px;
      height: 16px;
      accent-color: var(--inclusive-color);
   }

   label {
      display: flex;
      align-items: center;
      line-height: var(--row-height);
   }
}

.close_btn {
   margin: var(--spacing) 0;
   padding: 0;
   border-radius: 50%;
   justify-self: center;
}

.tabs {
   display: flex;
   flex-wrap: wrap;
   gap: var(--spacing);

   width: 100%;

   label {
      display: inline-flex;
      align-items: center;

      height: 26px;
      padding-left: 6px;
      padding-right: 6px;
      background-color: transparent;
      border-radius: 5px;
   }
}

.inclusive-tab {
   border: 2px solid var(--inclusive-color);
   color: var(--inclusive-color);
}

input:checked+.inclusive-tab {
   background-color: aquamarine;
   color: black;
}

.exclusive-tab {
   border: 2px solid var(--exclusive-color);
   color: var(--exclusive-color);
}

input:checked+.exclusive-tab {
   background-color: lightpink;
   color: black;
}